<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="ASYNC_DEV_CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="prod,staging">
        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE" />
            <appender-ref ref="ASYNC_ALARM"/>
        </root>
    </springProfile>

</configuration>